.navbar-brand {
    margin-left: 2rem;
    font-size: 1.7rem;
    font-weight: 500;
}

@media screen and (max-width: 48rem) {
    .navbar-brand {
        margin-left: 0.4rem;
        font-size: 1.2rem;
        font-weight: 400;
    }
}